<svg #svgElement [attr.width]="size" [attr.height]="size">
  <g>
    <circle
    [attr.cx]="radius"
    [attr.cy]="radius"
    [attr.r]="radius"
    [attr.stroke]="'black'"
    [attr.strokeWidth]="strokeWidth"
    [attr.fill]="'white'"
    ></circle>
    <ng-container *ngIf="synth.circleType !== 'slice'">
      <line *ngFor="let line of radiusLines"
            [attr.x1]="line.x1"
            [attr.y1]="line.y1"
            [attr.x2]="line.x2"
            [attr.y2]="line.y2"
            [attr.stroke]="line.stroke"
            [attr.opacity]="line.note.opacity"
      ></line>
    </ng-container>
    <ng-container *ngIf="synth.circleType === 'slice'">
      <circle *ngFor="let line of radiusLines"
              [attr.cx]="radius"
              [attr.cy]="radius"
              [attr.r]="radius / 2"
              [attr.stroke]="line.stroke"
              [attr.fill]="'white'"
              [attr.fill-opacity]="0"
              [attr.stroke-width]="radius"
              [attr.opacity]="line.note.opacity"
              [attr.transform-origin]="'center'"
              [attr.transform]="line.transform"
              [attr.stroke-dasharray]="line.strokeDashArray"
      ></circle>
    </ng-container>
  </g>
</svg>
