<div>
  <mat-form-field>
    <mat-select [(value)]="selectedTemp">
      <mat-option *ngFor="let temp of temps" [value]="temp">
        {{temp?.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="component-container">
  <nic-matrix [temperament]="selectedTemp"></nic-matrix>
</div>
<div class="component-container">
  <nic-circle></nic-circle>
</div>
<div class="component-container">
  <nic-waveform></nic-waveform>
</div>
<div class="component-container">
  <nic-envelope></nic-envelope>
</div>
