.envelope-container {
  width: 100%;
}
.svg-container {
  display: inline-block;
}
.path-container {
  display: inline-block;
  position: absolute;
}
.circle-container {
  display: inline-block;
  position: relative;
  /*left: -920px;*/
}
