<div class="envelope-container">
  <div class="path-container">
    <svg class="svg-path-container" [attr.width]="width" [attr.height]="height">
      <path [attr.d]="envelope.path" stroke="black" fill="transparent"></path>
    </svg>
  </div>
  <div class="circle-container">
    <div *ngFor="let handle of envelope.handles" [class]="handle.dragBoundaryClass">
      <div cdkDrag
           [class]="handle.cssClass"
           [style.left]="handle.initXcss"
           [style.top]="handle.initYcss"
           (cdkDragMoved)="update($event, handle)"
           [cdkDragLockAxis]="handle.lockAxis"
           [cdkDragBoundary]="handle.dragBoundary">
      </div>
    </div>
    <svg class="svg-handle-line-container" [attr.width]="width" [attr.height]="height">
      <g class="handle-container" *ngFor="let handle of envelope.handles">
        <rect [attr.x]="handle.rectX"
              [attr.height]="height"
              [attr.width]="handle.rectWidth"
              [attr.pointer-events]="'none'"
              [attr.fill-opacity]="0">
        </rect>
        <line *ngFor="let note of notes"
              [attr.x1]="note.xPosition"
              [attr.y1]="0"
              [attr.x2]="note.xPosition"
              [attr.y2]="height"
              [attr.stroke]="note.interval.color.backgroundColor"
              [attr.opacity]="note.opacity">
        </line>
      </g>
    </svg>
  </div>
</div>
