.matrix-flex {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vmin - 17px);
  height: calc(100vmin - 17px);
}

.interval {
  text-align: center;
  display: inline-block;
  user-select: none;
}
svg {
  pointer-events: none;
}
text {
  pointer-events: none;
}
